<h1>Här är alla inköp, dårå.</h1>

<h2><%= link_to 'Nytt inköp', new_purchase_path %></h2>
<br />

<table>
  <tr>
    <th>Du eller jag</th>
    <th>Datum</th>
    <td>&nbsp;</td>
    <th>Kostnad</th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%=h purchase.purchaser %></td>
    <td><%=h purchase.purchase_date_formatted %></td>
    <td>&nbsp;</td>
    <td><%=h purchase.amount %></td>
    <td>&nbsp;[</td>
    <td><%= link_to 'DETALJERNA, TACK.', purchase %></td>
    <td><%= link_to 'Ändra', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Ta bort', purchase, :confirm => 'Neeej, säkerligen inte?', :method => :delete %></td>
    <td>&nbsp;]</td>
  </tr>
<% end %>
</table>

<br />

