<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Purchaser</th>
    <th>Purchase date</th>
    <th>Amount</th>
    <th>Store</th>
    <th>Description</th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%=h purchase.purchaser %></td>
    <td><%=h purchase.purchase_date %></td>
    <td><%=h purchase.amount %></td>
    <td><%=h purchase.store %></td>
    <td><%=h purchase.description %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase', new_purchase_path %>