<p>
  <b>Inköpare:</b>
  <%=h @purchase.purchaser %>
</p>

<p>
  <b>Datum:</b>
  <%=h @purchase.purchase_date_formatted %>
</p>

<p>
  <b>Kostnad:</b>
  <%=h @purchase.amount %>
</p>

<p>
  <b>Affär:</b>
  <%=h @purchase.store %>
</p>

<p>
  <b>Varudeklaration:</b>
  <pre><%=h @purchase.description %></pre>
</p>


<%= link_to 'Ändra', edit_purchase_path(@purchase) %> |
<%= link_to 'Tillbaka till listan', purchases_path %>
